body {
  margin: 0;
}

.container {
  margin: 0;
}
.nav {
  height: 300px;
  background-image: linear-gradient(#73a580, white);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 2em;
}

.nav img {
  display: flex;
  height: 150px;
  border-radius: 50%;
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav a:hover {
  /* color: rgb(57, 193, 145) */
  color: #73a580;
}

/* Carousel styling */

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carousel {
  margin-top: 50px;
  height: fit-content;
  width: fit-content;
}

.carousel-item img {
  height: 450px;
  opacity: 0.8;
  width: 450px;
  border-radius: 10px;
  border: solid #2F4936 2px;
}

.about {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    
}

/* Bootstrap Card Element */

.plan-meal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  margin: 50px 20px 50px 20px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  margin-top: 10px;
  border-radius: 10px;
  width: 300px;
}

.footer {
  width: 100%;
  height: 100px;
  position: relative;
  color: white;
  background-color: #73a580;
}

.footer,
p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
