body{
    margin: 0;
}

.container{
    margin: 0;
}
.nav{
    height: 100px;
    background-color: antiquewhite;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 0 2em;
}

.nav img{
    display: flex;
    height: 80px;
    border-radius: 50%;
}

.nav ul{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.nav a:hover{
    color: rgb(57, 193, 145)
}




/* Carousel styling */

.carousel{
    height: fit-content;
    width: fit-content;
   
    
}

.carousel-item img{
    opacity: .8;
    width: 300px;
    border-radius: 10px;
}
